<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1s.0"/>
    <title>Party List</title>
    <link rel='stylesheet' href='http://cdn.foundation5.zurb.com/foundation.css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav id="navbar" class="top-bar" data-topbar>
          <ul class="title-area">

            <li class="name">
              <h1>
                <a href="#">
                  <i class="fa fa-music"></i>
                  <span id="logo-navbar">Social DJ</span>
                </a>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul class="right">
              <li class="divider"></li>
              <li><a href="#" data-reveal-id="hostPartyModal">Host Party</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </section>
        </nav>

        <div id="party-index" class="row">

          <div id="profile" class="large-2 columns">
            <div id="profile-banner">
              <img id="profile-picture" src="/images/dj-profile.png">
              <h2 class="header"><%= email %></h2>
            </div>
            <div id="party-number">
              <div class="circle">
                <h1 class="header"><%= parties.length %></h1>
                <p>Parties</p>
              </div>
            </div>
          </div>

          <div id="party-cols" class="large-10 columns">
            
            <div class="row">
              <div id="active" class="large-12 columns">
                <h3 class="header-dj">Active Parties</h3>
                <div id="active-list" class="row">
                  <div class="large-12 columns">
                    <% if(parties.length > 0) { %>
                      <% var active = 0; %>
                      <% for(var i = 0; i < parties.length; i++) { %>
                        <% if(parties[i].dataValues.active === true){ %>
                          <% active += 1; %>
                        <div class="party-item">

                          <a href=<%= '/parties/' + parties[i].dataValues.id + '/dj' %>><%= parties[i].dataValues.name %></a><i class="fa fa-archive archive" data=<%=parties[i].dataValues.id%>></i>
                        </div>
                        <% } %>
                      <% } %>
                      <% if(active === 0) { %>
                        <div class="no-parties">
                          <p>No active parties, host one!</p>
                        </div>
                      <% } %>
                    <% } else { %>
                      <div class="no-parties">
                        <p>No parties, host one!</p>
                      </div>
                    <% } %>

                  </div>
                </div>
              </div>
              <div id="past" class="large-12 columns">
                <h3 class="header-dj">Party Archive</h3>
                <div id="past-list" class="row">
                  <div class="large-12 columns playlistparent">
                    <% for(var i = 0; i < parties.length; i++) { %>
                      <% if(parties[i].dataValues.active === false){ %>
                      <div class="party-item-archive"><a href=<%= '/parties/' + parties[i].dataValues.id + '/dj' %>> <%= parties[i].dataValues.name %></a>&nbsp;<i class="fa fa-trash-o remove" data=<%=parties[i].dataValues.id%>></i>&nbsp;<a href=<%="/parties/playlist/"+parties[i].dataValues.id%>><i class="fa fa-th-list playlist" data=<%=parties[i].dataValues.id%>></i></a></div>
                      <% } %>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

        </div>

        </div>

      <div id="hostPartyModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Host a new party</h2>
        <form id="newparty-form">
          <input type="text" size="30" placeholder="Type your new party name here" id="new-party"><br/>
          <input class="button" type="button" id="newparty-button" value="Create Party"></input>
        </form>
      </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://cdn.foundation5.zurb.com/foundation.js"></script>

    <script>
      $(document).foundation();
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/parties.js"></script>
  </body>
</html>